*{
    margin : 0;
    scroll-behavior: smooth;
    padding : 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    scroll-padding-top: 80px;
}
:root{
    --clr: #ffffff;
}
body{
    display: flex;
    flex-direction: column;
    /* margin-top: 30px; */
    
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 100vh; */
    background: var(--clr);
}

.navigation{
    position: fixed;
    width:100%;
    /* height: 70px; */
    background: rgb(24, 23, 23);
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    font-weight:1000;
}

.navigation ul li a .icon{
    position: relative;
    display: flex;
    align-items: center;
    height: 45px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li.active a .icon{
    transform: translateY(-9px);
}

.navigation ul li a .text{
    position: absolute;
    color:#6c7074 ;
    font-weight: 1400;
    font-size: 0.95em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    transform: translateY(25px);
}
@media screen and (max-width: 768px){
    .navigation ul li a .text{
        font-size: 10px;
    }
    .navigation ul li a .icon{
        font-size: 0.9em;
    }
}
.navigation ul li.active a .text{
    opacity: 1;
    color: #f8f8f8;
    transform: translateY(30px);
}
.indicator{
    position:absolute;
    transform: translateX(calc(-566px));
    width: 35px;
    height: 30px;
    background: #ee0606;
    border-radius: 80%;
    transition: 0.5s;
}
@media screen and (max-width: 1000px){
    .indicator{
        position:relative;
        transform: translateX(calc(100px));
        background: transparent;
    }

}
.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(-566px * 1));
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(-170px * 2));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(-37.5px * 3));
}
.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(28.5px * 4));
}
.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(68px * 5));
}
.navigation ul li:nth-child(6).active ~ .indicator{
    transform: translateX(calc(94.5px * 6));
}

/* navigation bar style end hear */

/* short details content  */
.content{
    display: block;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 10px auto;
    height: 61%;
    border-radius: 20px;
    /* position: fixed; */
    top: 15%;
}
.intro{
    line-height: 1;
    display: flex;
    justify-content: space-around;
    padding: 50px 10px;
    background-color: rgb(0, 0, 0);
    height: 85vh;
}
.text-size{
    font-size: 5rem;
    --tw-text-opacity: 1;
    /* color: white; */
    color: rgba(255 255 255/var(--tw-text-opacity));
}
@media screen and (max-width: 600px){    
    .text-size{ font-size: 3rem;}
    .doing{ font-size: 1.5rem;}
}
.hii, .doing{
    font-size: 1.5rem;
    color: aliceblue;
}

.avatar{
    /* float: left; */
    display: flex;
    justify-content: center;
    /* width: 50%; */
    /* height: 50%; */
    /* border-radius: 50%; */

}
@media screen and(max-width:600px){
    /* .avatar{
        height: 60%;
        display: flex;
    } */
}
.avatarimg{
    border-radius: 45%;
}
@media screen and (max-width: 900px) and (min-width: 300px){
    
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    padding-left: 20px;
}
@media screen and (max-width: 900px) and (min-width: 600px) {
    img.avatarimg {
      float: left;
      width: 100%;
      height: 100%;
        
    }
    .content{
        height: 39%;
    }
  }
.hr{
    border-width: 5px;
    /* margin-top: 10px; */
}
/* content section styling end */
.education{
    display: block;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* border-radius: 20px; */
}

/* experience section styling */
.experience{
    display: block;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* border-radius: 20px; */
}

.exp-col{
    display: block;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 20px;
}
@media screen and (max-width: 1000px){
    .exp-col{}
}



/* project section styling */

.projects{
    /* padding-top: 0px; */
    display: block;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* border-radius: 20px; */
}

.container {
    padding: 64px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  
  .column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
  }
  @media screen and (max-width: 1000px){
    .row{
        display: flex;
    flex-direction: column;
    align-items: center;
    }
  }
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }
  .column-year{
    float: left;
    width: 33.33333%;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 600px) {
    .column-year{
        float: left;
        width: 33.33333%;
        padding: 20px;
        display: flex;
        justify-content: center;
    }
  }
  
  .large-font {
    font-size: 48px;
  }
  
  .xlarge-font {
    font-size: 64px
  }
  
  .button {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #04AA6D;
  }
  
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
  }

  /* #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  } */
  
  #myUL li{
    margin-top: -1px;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    /* display: block; */
  }
.button{
    border-radius: 60px;
}

.button-social{
    border: none;
    color: white;
    padding: 19px 20px;
    font-size: 16px;
    margin: 5px 0px;
    cursor: pointer;
    background-color: #04AA6D;
    width: fit-content;
    border-radius: 60px;
}
.button-social:hover {
    background-color: RoyalBlue;
  }
.detail{
    display: flex;
    padding: 10px 0px;
}
.detailsheading{
    color: #04AA6D;
    /* font-size: 1.5rem; */
}
.detailsanswer{
    color: antiquewhite;
    padding: 0px 10px;
}
.smalldetail{
    padding: 5px;
}
.fa-brands{
    padding-right: 10px !important;
}
.skills{
    display: block;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* border-radius: 20px; */
}
.column-left{
    float: left;
    width: 50%;
    padding: 20px;
}
.column-right{
    float: left;
    width: 50%;
    padding: 20px;
}
@media screen and (max-width: 900px){
    .column-left, .column-right{
        width: 100%;
    }
    
}
.skill-container{
    width: 100%;
    background-color: #ddd;
    border-radius: 20px;
}
.skills-bar{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    border-radius: 20px;
}
.java {width: 90%; background-color: #db2e2e;}
.cpp {width: 90%; background-color: #04AA6D;}
.python {width: 80%; background-color: #2196F3;}
.mysql {width: 95%; background-color: #18bb98c0;}
.react {width: 80%; background-color: #4812db;}
.htmlcss {width: 100%; background-color: #aa47ec;}
.js {width: 95%; background-color: #fc1fa0;}
.node {width: 80%; background-color: #eed70b;}
.django {width: 70%; background-color: #8df506;}
.git {width: 100%; background-color: #11800dfd;}

.contact{
    display: block;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* border-radius: 20px; */
}
.contact-container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
.footer-section{
display: block;
flex-direction: column;
background-color: rgb(255, 255, 255);
width: 100%;
border-radius: 20px;
}



  
footer {
text-align: center;
padding: 20px;
background-color: rgb(236, 236, 236);
color: white;
} 

@media screen and (max-width: 600px){
    .xlarge-font{
        font-size:42px;
    }
    .large-font{
        font-size: 32px;
    }
}
/* .intern{
    display: flex;
} */
/* .intern p{

} */